.admin-menu{
    background-color: #353739;
    width: 300px;
    height: 100vh;
    &__item{
        &:not(:last-child) {
            border-bottom: 1px solid #000;
        }
    }
    &__btn{
        cursor: pointer;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        font-weight: 600;
        background-color: transparent;
        color: #fff;
        border: none;
        &.active{
            background: rgba(11, 23, 31, 0.22);
            color: #25bde3;
        }
    }
}